<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>osProtect: <%= @report_title %></title>
</head>
<body>
  <h2><%= @report_title %> for <%= @user.username %>:</h2>
  <blockquote>
    <p>
      <strong><%= pluralize(@incidents_count, 'incident') %></strong> were found matching the report criteria.
    </p>
    <% if @incidents_count > 0 %>
        <p>View the attached PDF for details.</p>
    <% end %>
  </blockquote>
</body>
</html>