<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>osProtect: No Events for Yesterday</title>
</head>
<body>
  <h2><%= @user.username %>:</h2>
  <blockquote>
    <p>
			No Events received during: 
			<%= @start_time %>
			&nbsp;-&nbsp;
			<%= @end_time %>
    </p>
  </blockquote>
</body>
</html>