#new_incident_button {
	/*margin-top: -25px;*/
}

#image_beside_button * {
	display: inline-block;
	vertical-align: bottom;
	margin-top: -1px;
}

#incidents-check {
	margin-right: 5px;
	margin-bottom: 6px;
}

#delete_selected_incidents {
	margin: 0px;
}
